body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,p,table,th,tr,td{ 
	margin:0; 
	padding:0;
}
.wrapper_help{
    margin:16px 14px 20px;
}
.wrapper_help table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 5px 0;
}
.wrapper_help table tr th,.wrapper_help table tr td {
    height: 20px;
    line-height: 20px;
    border: 1px solid #999999;
}
.wrapper_title {
    line-height: 22px;
}

.wrapper_title dt {
    font-weight: bold;
    float: left;
}

.wrapper_title dd {
    padding: 0 0 0 80px
}

